<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Get the API and verify the user in a table</title>

  </head>
  <body>
    <div class="id-container">
      <div id='users-list-0'>
        jeykannanrd@parentcircle.in
      </div>
      <div id='users-list-1'>
        jeykannanrd@gmail.com
      </div>
      <div id='users-list-2'>
        rajesh@parentcircle.in
      </div>
      <div id='users-list-3'>
        rrajesh@parentcircle.in
      </div>
      <div id='users-list-4'>
        bharanidharanm@parentcircle.in
      </div>
    </div>
  </body>
  <script src="https://stgsales-starr.parentcircle.com/api/sample-test/check-email"></script>
  <script src="main.js"></script>
</html>
